* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  overflow: hidden;
}

.cont {
  height: 100vh;
  width: 100vw;
  background-color: rgb(12, 16, 37);
  color: white;
  text-transform: capitalize;
}

h1 {
  position: relative;
  left: 15%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gameBoard {
  /* background-color: rebeccapurple; */
  height: 500px;
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: nowrap;
}

button {
  height: 60px;
  width: 150px;
  margin: 10px 10px;
  border-radius: 50px;
  position: relative;
  top: 50px;
  ;
  border: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  ;
}

button:hover {
  background-color: rgb(24, 52, 66);
  color: white;
}



.tbl {
  font-size: 30px;
  ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%);

}

.secondTd {
  background-color: red;
}




/* responsive css */
@media screen and (max-width: 480px) {



  button {
    height: 40px;
    width: 120px;
    left: 77px;
    ;
  }

  h1 {
    left: 20%;
  }


}